<%-   include('./partials/header.ejs')     %>
<body>
    <%- include('./partials/navbar.ejs')    %>
    <!-- <h2>welcome from home page in an ejs template</h2> -->
    <header class="masthead" style="background-image: url('/images/login-bg.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h2>Login</h2>
                        <span class="subheading">Drive Test Booking Kiosk</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            
            <div class="col-md-10 col-lg-8 col-xl-7">
                <% if(message){  %>
                    <span class="alert alert-primary"> <%=message %></span>
    
                    <% } %>
                    <hr>
                <form action="/login" method="post">
                    <div class="mb-3 col-sm-6">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email" name="usr_email" required>
         
        </div>
        <div class="mb-3 col-sm-6">
          <label for="pwd" class="form-label">Password</label>
          <input type="password" class="form-control" id="pwd"  name="usr_pwd" required>
        </div>
       
        <button type="submit" class="btn btn-primary">Login</button>
        <a  class="btn btn-primary" href="/signup">Sign Up</a>
                  </form>
                  <!-- <div class="mb-3 col-sm-6">
                  <a  class="btn btn-primary" href="/signup">Sign Up</a>
                  </div> -->
            </div>
        </div>
    </div>
</body>
<%-  include('./partials/footer.ejs')         %>
</html>